p{
    background: cadetblue;
    color: chocolate;
}
h1{
    background: peru;
    color: slateblue;
}
h2{
    background: darkorange;
    color: forestgreen;
}
ul{
    background: magenta;
    color: palegoldenrod;
}